* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: royalblue;
}
a:hover {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.container-fluid{ 
  
  background-color: black;
  color: white;
}
.row {
  height: 100%;
}
#navbar {
  background-color: #dae0e6;
}
#sidebar {
  border-right: 1px solid #dae0e6;
}
#footer {
  margin-top: auto;
  height: 50px;
  padding: 1rem;
  background-color: #dae0e6;
  display: flex;
  /*align-items: center;*/
}
#footer p, #footer a {
  margin-right: 1rem;
}
.text-shadow-white {
  text-shadow: 0px 0px 13px #FFFFFF;
}
li {
  list-style: none;
  padding-left: 1rem;
}
.role-button {
  cursor: pointer;
  user-select: none;
}
.list-title {
  font-size: 20px;
  color: lightcoral !important;
  line-height: 1;
}
#book-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  overflow-y: scroll;
}
#book-form {
  width: 100%;
  max-height: 80%;
}
#genre-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}
#genre-form {
  width: 100%;
}
.books-container{
  display: flex;
}
.book {
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255, .2);
}
.book-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-header h3, .book-header p {
  margin: 0;
}
.book-footer {
  display: flex;
  justify-content: flex-end;
}