* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #dae0e6;
}
.row {
  border: 1px solid black;
  flex: 1;
}
#sidebar {
  border-right: 1px solid black;
}
#footer {
  margin-top: auto;
  height: 50px;
}