extends layout

block content
  a(href="/")
    p Go back
  div.d-flex.align-items-center
    h1 Brands
    a(href='/brands/new')
      button.btn.btn-primary.ml-3 Create new Brand
  
  ul.brands_list
    each brand in brands
      li.brand-listing
        a(href=`/brands/${brand._id}/items`)
          p.mb-0 #{brand.name}
          img.mb-2(src='/' + brand.image, style='max-width: 100%')
        div.d-flex.mt-auto
          a(href=brand.url + '/edit')
            button.ml-1.btn-sm.btn-warning Edit        
          a(href=brand.url + '/delete')
            button.ml-1.btn-sm.btn-danger Delete

      


