extends layout

block content
  a(href="/")
    p Go back
  div.d-flex.align-items-center
    h1 Brands
    a(href='/brands/new')
      button.btn.btn-primary.ml-3 Create new Brand
  
  ul.brands_list
    each brand in brands
      li.d-flex.align-items-center.my-2
        a(href=`/brands/${brand._id}/items`)
          p.mb-0 #{brand.name}
        a.ml-3(href=brand.url + '/delete')
          button.btn-sm.btn-warning Delete
        a.ml-3(href=brand.url +'/edit')
          button.btn-sm.btn-danger Edit
