extends layout

block content

  div.form-wrapper
    h3= title
    each erorr in errors
      p= erorr
    form(action='' method='POST')
      label(for='name') Name
      input(type='text' name='name' placeholder='Brand name' value=brand ? brand.name : '' required)
      
      button(type='submit' style='margin-top: .5rem; margin-left: .5rem') Submit