extends layout

block content
  a(href="/")
    p Go Back
  div.d-flex.align-items-center
    h1 Categories
    a.mb-0(href="/categories/new")
      button.ml-3.btn.btn-primary.mb-0 Create new Category
  
  ul.category_list
    each category in categories
      li
        div.category-listing
          div.d-flex.mb-2
            a(href=category.url + '/items')
              p.mb-0 #{category.name}
            a(href=category.url + '/edit')
              button.ml-1.btn-sm.btn-warning Edit        
            a(href=category.url + '/delete')
              button.ml-1.btn-sm.btn-danger Delete  
          img(src='/' + category.image style='max-width: 100%;')
          div

  

