extends layout

block content
  a(href="/")
    p Go back
  h1 Items
  a(href="/items/new")
    p Create new Item
  ul.item_list
    each item in items
      li
        a(href=`/items/${item._id}`)
          p #{item.name}