  <div id="footer">
    <p>Contact</p>
    <a href="www.github.com/irlgabriel">Github</a>
    <a href="https://www.linkedin.com/in/gabriel-radu-5023021b9/">LinkedIn</a>
    <a href="mailto:radu.gabriel131@gmail.com">Email</a>
  </div>
  </body>
</html>