<div class="col-3 col-lg-2" id="sidebar">
  <ul>
    <h4 class="text-shadow-white role-button" data-toggle="collapse" data-target="#books-list">Books</h4>
    <!-- Book list collapsable-->
    <ul class="collapse" id="books-list">
      <li class="list-title"><a href="/books/new">Create new Book</a></li>
      <% genres.forEach(genre => { %>
        <li><a href=<%=`/books/genres/${genre.name}`%> ><%=genre.name%></a></li>
      <% }) %>
    </ul>
  </ul>

  <ul>
    <h4 class="text-shadow-white role-button" data-toggle="collapse" data-target="#genres-list">Genres</h4>
    <ul class="collapse" id="genres-list">
      <li class="list-title"><a href="/genres/new">Create new Genre</a></li>
      <% genres.forEach(genre => { %>
        <li><a href=<%=`/genres/${genre.name}`%> ><%=genre.name%></a></li>
      <% }) %>
    </ul>
  </ul>
</div>