doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='member_password' the_password= 'try cat_warrior')
  body
    block navbar
      nav.navbar.mb-2.text-light
        a(href='/')
          p Home
        a.ml-auto(href='/')
          p Members Only
        if currentUser
          a.ml-auto(href='/users/logout')
            button.btn.btn-info Log Out
        else
          div.ml-auto
            a.mr-2(href='/users/login')
              button.btn.btn-primary Log In
            a(href='/users/sign-up')
              button.btn.btn-info Sign Up
    block posts_form
      div.posts-container.container
        if currentUser
          form.mx-auto(method='post' action='/posts/new')
            div.form-group
              input.form-control(type='text' name='title' placeholder='Title...' required)
            div.form-group
              input.form-control(type='text' name='content' placeholder='Who are you gossiping next?' required)
            div.form-group.text-center
              button.btn.btn-sm.btn-info(type='submit') Create
    block content