
#facebook-story {
  width: 580px;
  padding-right: 2rem;
}

#index-login {
  width: 380px;
  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#fb-logo {
  height: 106px;
  margin: -28px;
}