* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.posts-container {
  max-width: 600px;
}
.post {
  max-width: 600px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: .5rem;
}