* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.posts-container {
  max-width: 600px;
}
.post {
  width: minmax(60%, 700px);
  margin: .5rem auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: .5rem;
}
nav {
  background-color: lightcoral;
}

nav a {
  color: white;
}
nav a:hover {
  text-decoration: none;
  color: royalblue;
}