
.nav {
  height: 40px;
}

.container-fluid {
  padding: 0;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}